<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatem, doloribus quisquam itaque magnam culpa ea iure deleniti eveniet quam dicta quia laborum dolorem fuga maxime enim aliquid expedita, minus ab ipsam. Quisquam incidunt consequuntur voluptates harum, perferendis aut iste dicta delectus voluptatum. Totam omnis autem nulla quibusdam ab ipsa iste perspiciatis est facere, quasi minus error excepturi sed delectus odio iusto? Magnam cum, aspernatur quod dolore perspiciatis voluptates ad architecto incidunt cupiditate ut unde facilis temporibus iure deserunt officia adipisci quibusdam velit sit libero accusamus. Facere sit magnam itaque nemo, rerum explicabo quia tenetur, ad quibusdam nesciunt minima eos.</p>
        <p>Username: {{ username }}</p>
    </body>
</html>