<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>myapp</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, vel? Consequuntur perferendis qui voluptate, ipsum quod praesentium aliquam est sunt iusto nesciunt placeat deserunt nostrum maiores. Officiis cupiditate iure exercitationem!</p>
    </body>
</html>